<div class="card">
  <%= form_for [user, workout] do |f| %>
  <h3>Choose Up To 2 Muscles or a Full-Body Workout</h3>
  <% muscle_groups.each do |muscle_group| %>
  <%= f.label muscle_group %>
  <%= f.check_box :muscles, {multiple: true}, muscle_group, false %><br>
  <% end %><br>
  <%= f.label "Do you have equipment?" %>
  <%= check_box_tag(:equipment) %><br>
  <%= f.submit %>
  <% end %>
</div>
