<div class="card">
  <%= form_for user do |f| %>
  <%= f.label :user_name %>
  <%= f.text_field :user_name %><br>
  <%= f.label :password %>
  <%= f.text_field :password %><br>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br>
  <%= f.label :last_name%>
  <%= f.text_field :last_name %><br>
  <%= f.label :weight %>
  <%= f.number_field :weight, value: 0, class: :text_field, step: :any %><br>
  <%= f.label :height %>
  <%= f.number_field :height, value: 0, class: :text_field, step: :any %><br>
  <%= f.label :body_fat %>
  <%= f.number_field :body_fat, value: 0, class: :text_field, step: :any %><br>
  <%= f.label :bmi %>
  <%= f.number_field :bmi, value: 0, class: :text_field, step: :any %><br>
  <%= f.label :goal %>
  <%= f.text_field :goal %><br>
  <%= f.submit %>
  <% end %>
</div>
