<li>Exercise: <%= exercise.name %></li>
<li>Muscle used: <%= exercise.muscle_group %></li>
<li>Muscle detail: <%= exercise.muscle_part %></li>
<li>Need equipment: <%= exercise.equipment %></li>
<li>Intensity: <%= exercise.high_intensity %></li>
